.splide {
    &__slide {
        min-width: 224px;
        height: 336px;
        border: 1px solid var(--color-light-gray);
        border-radius: 16px;
        position: relative;

        img {
            border-radius: 16px;
        }
    }
}