.movie-hero-skeleton {
    margin: 0 0 40px;

    &__inner {
        display: flex;
        align-items: center;

        @media (width <=1000px) {
            flex-direction: column-reverse;
        }
    }

    &__wrapper {
        max-width: 600px;
        width: 100%;
        padding: 0 20px 0 0;

        @media (width <=1000px) {
            max-width: 100%;
        }
    }

    &__info {
        width: 200px;
        height: 24px;
        background-color: var(--color-montana);
        border-radius: 8px;
        margin: 0 0 16px;
    }

    &__title {
        width: 80%;
        height: 56px;
        background-color: var(--color-montana);
        border-radius: 8px;
        margin: 0 0 16px;
    }

    &__plot {
        width: 100%;
        height: 164px;
        background-color: var(--color-montana);
        border-radius: 8px;
        margin: 0 0 60px;
    }

    &__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 68px 68px;
        gap: 16px;

        @media (width <=1000px) {
            display: grid;
            grid-template-columns: 1fr 68px 68px;
        }
    }

    &__button {
        width: 100%;
        height: 44px;
        background-color: var(--color-montana);
        border-radius: 8px;

        @media (width <=1000px) {
            &:first-child {
                grid-column: span 3;
            }
        }
    }
}