.modal {
    &__inner {
        padding: 64px 40px;
        border-radius: 24px;
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;

        @media (width <= 500) {
            padding: 64px 20px 32px;
        }
    }

    &__description {
        margin: 0 0 24px;
        text-align: center;
    }

    &__text {
        font-size: 18px;
        line-height: 24px;
        color: var(--color-black);
    }

    &__link.btn {
        width: 100%;
    }
}