@use "../../styles/global/mixins.scss" as *;

.movie-hero {
    padding-top: 32px;
    margin: 0 0 40px;

    @media (width < 520) {
        padding-top: 0;
    }

    &__inner {
        display: flex;
        align-items: center;

        @media (width <=1000px) {
            flex-direction: column-reverse;
        }
    }

    &__wrapper {
        max-width: 600px;
        padding: 0 20px 0 0;

        @media (width <=1000px) {
            max-width: 100%;
            padding: 0;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 16px;
        margin: 0 0 16px;
        color: var(--secondary-text-color);
        font-size: 18px;
        line-height: 24px;
        flex-wrap: wrap;

        @include vp-1024 {
            margin: 0 0 12px;
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 4px 12px;
        border-radius: 16px;
        background-color: var(--color-forest-green);
        color: var(--primary-text-color);

        &--extra-high {
            background-color: var(--color-lucky);
        }

        &--high {
            background-color: var(--color-forest-green);
        }

        &--middle {
            background-color: var(--color-grey);
        }

        &--low {
            background-color: var(--color-fire-brick);
        }

        &-text {
            font-weight: 700;
        }
    }

    &__genre {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        max-width: 280px;
    }

    &__title {
        font-size: 48px;
        line-height: 56px;
        margin: 0 0 16px;

        @include vp-1024 {
            font-size: 40px;
            line-height: 48px;
            margin: 0 0 12px;
        }
    }

    &__plot {
        font-size: 24px;
        line-height: 32px;
        color: var(--secondary-text-color);
        margin: 0 0 60px;

        @include vp-1024 {
            font-size: 20px;
            line-height: 28px;
            margin: 0 0 50px;
        }
    }

    &__buttons {
        display: flex;
        gap: 16px;
    }

    &--main {
        .movie-hero__buttons {

            @media (width <=1000px) {
                display: grid;
                grid-template-columns: 1fr 68px 68px;

                .btn-primary {
                    grid-column: span 3;
                }
            }
        }
    }

    &--movie {
        .movie-hero__buttons {
            @media (width <=1000) {
                display: grid;
                grid-template-columns: 1fr 68px;

                .btn-primary {
                    grid-column: unset;
                }
            }
        }
    }

    &__img-container {
        position: relative;
        width: 680px;
        height: 552px;
        border-radius: 16px;
        overflow: hidden;
        user-select: none;
        aspect-ratio: 680 / 552;
        background-color: var(--color-montana);

        @include vp-1024 {
            width: 100%;
            min-width: 300px;
        }

        @media (width <=1000px) {
            width: 100%;
            min-height: 224px;
            margin: 0 0 32px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;

        &[data-load=false] {
            opacity: 0;
        }
    }

    &__loader-wrapper {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__btn--favorite {
        path {
            transition: fill var(--transition);
        }

        &.movie-hero__btn--active {
            path {
                fill: var(--color-perano);
                stroke: unset;
            }
        }
    }
}