.loader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, #766DF4);
    mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
    animation: loader-spin 1s infinite linear;
    margin: 0 auto;

    &-medium {
        width: 50px;
        height: 50px;
        mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
        -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    }

    &-large {
        width: 100px;
        height: 100px;
        mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
        -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
        margin: 200px auto;
    }

    @keyframes loader-spin {
        to {
            transform: rotate(1turn)
        }
    }
}