.profile {
    &__about {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 0 0 64px;

        @media (width <=460) {
            margin: 0 0 40px;
        }
    }

    &__item {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    &__avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-gray);

        &-inner {
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
        }

        @media (width <=460) {
            width: 48px;
            height: 48px;
        }
    }

    &__user {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__description {
        font-size: 18px;
        line-height: 24px;

        @media (width <=460) {
            font-size: 14px;
            line-height: 20px;
            color: var(--color-gray);
        }
    }

    &__info {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;

        @media (width <=460) {
            font-size: 18px;
            line-height: 24px;
        }
    }

    &__link {
        @media (width <=460) {
            width: 100%;
        }
    }
}