body .movie-hero {
    &-skeleton__buttons {
        @media (width <=1000) {
            grid-template-columns: 1fr 68px;
        }
    }

    &-skeleton__button:first-child {
        @media (width <=1000) {
            grid-column: unset;
        }
    }
}

.about-movie {
    &__title {
        font-size: 40px;
        line-height: 48px;
        margin: 0 0 64px;

        @media (width <=440) {
            font-size: 24px;
            line-height: 32px;
            margin: 0 0 40px;
        }
    }

    &__list {
        display: grid;
        gap: 24px;

        @media (width <=440) {
            gap: 12px;
        }
    }

    &__item {
        display: flex;
        align-items: baseline;
        gap: 8px;
        position: relative;

        @media (width <=440) {
            flex-direction: column;
            gap: 4px;
        }
    }

    &__heading {
        font-size: 18px;
        line-height: 24px;
        flex-shrink: 0;
        display: flex;
        align-items: baseline;
        max-width: 320px;
        width: 100%;

        @media (width <=520) {
            max-width: 250px;
        }

        @media (width <=440) {
            font-size: 14px;
            line-height: 20px;
            color: var(--color-gray);
        }

        &::after {
            content: '';
            width: 100%;
            height: 1px;
            border-bottom: 1px dashed var(--color-gray);
            margin-left: 8px;
            flex: 1;

            @media (width <=440) {
                content: unset;
            }
        }
    }

    &__info {
        font-size: 18px;
        line-height: 24px;
        position: absolute;
        left: 330px;
        top: 0;
        transform: translateY(2px);

        @media (width <=520) {
            left: 260px;
        }

        @media (width <=440) {
            position: static;
            left: 0;
            top: 0;
            transform: unset;
        }
    }
}