.footer {
    height: 120px;
    display: grid;
    align-items: center;
    margin-top: auto;

    &__social {
        display: flex;
        justify-content: flex-end;
        gap: 24px;

        @media (width <=800) {
            justify-content: flex-start;
        }
    }

    &__link {
        border: 1px solid var(--color-white-2);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        background-color: transparent;

        @media (width <=800) {
            width: 24px;
            height: 24px;
        }
    }

    svg {
        @media (width <=800) {
            width: 12px;
            height: 12px;
        }
    }
}