.top {
    &__title {
        font-size: 40px;
        line-height: 48px;
        margin: 0 0 64px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 64px 40px;
    }

    &__item {
        counter-increment: count;
        height: 336px;
        border-radius: 16px;
        position: relative;
        box-shadow: 0px 0px 80px 0px var(--color-light-gray);
        border: 1px solid var(--color-light-gray);

        &::after {
            content: counter(count);
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            position: absolute;
            display: block;
            top: -12px;
            left: -12px;
            padding: 8px 24px;
            background-color: var(--primary-text-color);
            color: var(--color-slate-blue);
            z-index: 2;
            border-radius: 50px;
        }

        &:last-child {
            @media (width <=1335) {
                grid-column: span 3;
            }

            @media (width <=760) {
                grid-column: unset;
            }
        }
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        overflow: hidden;
        user-select: none;
    }
}