@use "../../styles/global/mixins.scss" as *;

.search-response {
    padding: 8px;
    border-radius: 8px;
    background-color: var(--color-montana);
    position: absolute;
    top: 60px;
    right: 0;
    max-width: 559px;
    width: 100%;
    z-index: 10;

    &-mobile {
        padding: 24px 20px;
        margin-top: 8px;
        padding: 24px 20px;
        width: 100%;
        max-width: 720px;
        overflow-x: hidden;
        position: unset;

        .splide__list {
            display: flex;
        }

        .splide__slide {
            min-width: 220px;
            height: unset;
            border: none;
            border-radius: unset;

            img {
                border-radius: unset;

                @media (width >= 700) {
                    width: 100%;
                    height: 100%;
                }

                @media (width >= 500) {
                    width: 80%;
                    height: 206px;
                }
            }
        }

        .splide__sr {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border: 0;
        }

        .search-response__movie {
            flex-direction: column;
            gap: 0;
        }

        img {
            width: 158px;
            height: 206px;
            margin: 0 0 16px;
        }
    }

    .search-response__movie {
        @media (width <= 800) {
            gap: 0;
        }
    }

    .search-response__genre {
        max-width: 110px;
    }

    .search-response__title {
        font-size: 18px;
        line-height: 24px;
    }


    &--not-found {

        .search-response__wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            padding: 20px;
        }

        .search-response__title {
            color: var(--color-gray);
        }

        svg {
            color: var(--color-gray);

            @media (width <=910) {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__movie {
        display: flex;
        gap: 16px;
    }

    &__item {
        min-height: 92px;
        padding: 20px 8px;
        border-radius: 6px;

        &:hover {
            outline: 1px solid var(--color-gray);
        }
    }

    &__img {
        width: 40px;
        height: 52px;
    }

    &__description {
        display: flex;
        flex-direction: column;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 0 0 8px;
        color: var(--secondary-text-color);
        font-size: 14px;
        line-height: 20px;
        flex-wrap: wrap;

        @include vp-1024 {
            margin: 0 0 12px;
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 4px 12px;
        border-radius: 16px;
        background-color: var(--color-forest-green);
        color: var(--primary-text-color);
        font-size: 12px;
        line-height: 16px;

        &--extra-high {
            background-color: var(--color-lucky);
        }

        &--high {
            background-color: var(--color-forest-green);
        }

        &--middle {
            background-color: var(--color-grey);
        }

        &--low {
            background-color: var(--color-fire-brick);
        }

        &-text {
            font-weight: 700;
        }
    }

    &__genre {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        max-width: 330px;
    }

    &__title {
        font-size: 18px;
        line-height: 24px;

        @media (width <=910) {
            font-size: 16px;
            line-height: 20px;
        }
    }
}