body:has(.modal[data-auth-type="register"]),
body:has(.modal[data-auth-type="login"]) {
    overflow-y: hidden;
}

.modal {
    &-auth {
        .modal__form {
            min-width: 420px;

            @media (width <=500) {
                min-width: 335px;
                padding: 64px 20px 32px;
            }
        }

        &[data-auth-type="register"] {
            @media (height <=720) {
                overflow-y: auto;
            }

            .modal__wrapper {
                @media (height <=720) {
                    padding-top: 70px;
                }

                @media (height <=600) {
                    padding-top: 150px;
                }

                @media (height <=550) {
                    padding-top: 200px;
                }
            }
        }
    }

    &__form {
        padding: 64px 40px;
        border-radius: 24px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
    }

    &__list {
        display: grid;
        gap: 12px;
        margin: 0 0 24px;
        width: 100%;
    }

    &__btn {
        margin: 0 0 24px;
    }

    &__link {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: var(--color-black);
    }

    &__error {
        color: var(--color-salmon);
        margin: 0 0 12px;
    }
}