.genre-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 24px;
    height: 100%;

    &__image {
        height: 220px;
    }

    &__title {
        font-size: 24px;
        line-height: 32px;
        margin: auto;
    }
}