.genre {
    padding-top: 64px;

    @media (width < 520) {
        padding-top: 16px;
    }

    &__inner {
        display: flex;
        align-items: center;
        gap: 16px;
        margin: 0 0 64px;

        @media (width < 520) {
            gap: 8px;
            margin: 0 0 40px;
        }
    }

    &__title {
        font-size: 48px;
        line-height: 56px;

        @media (width < 520) {
            font-size: 24px;
            line-height: 32px;
        }
    }

    &__btn {
        margin: 0 auto;

        &-back {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (width < 520) {
                width: 32px;
                height: 32px;

                svg {
                    width: 10px;
                    height: 16px;
                }
            }

            &.btn-primary {
                background-color: unset;
                padding: 0;
                min-width: unset;

                &:hover {
                    background-color: unset;
                }
            }
        }
    }
}