.search-response-skeleton {
    background-color: var(--color-montana);
    z-index: 10;
    border-radius: 8px;
    width: 100%;
    max-width: 559px;
    max-height: 500px;
    padding: 8px;
    position: absolute;
    top: 60px;
    right: 0;
    height: 108px;

    /* &::before {
        content: "";
        display: block;
        clip-path: polygon(0 100%, 0 0, 0 0, 0 100%);
    } */

    &--mobile {
        padding: 24px 20px;
        margin-top: 8px;
        padding: 24px 20px;
        width: 100%;
        max-width: 720px;
        position: unset;
        height: 378px;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1fr 200px;
        gap: 40px;

        .search-response-skeleton {
            &__item {
                height: 330px;
                padding: 0;

                &--second {
                    min-width: 300px;
                }
            }

            &__movie {
                flex-direction: column;
            }

            &__img {
                width: 158px;
                height: 206px;
                border-radius: 4px;
            }
        }
    }

    &__item {
        height: 92px;
        padding: 20px 8px;
        border-radius: 6px;
    }

    &__movie {
        display: flex;
        gap: 16px;
        width: 100%;
    }

    &__img {
        width: 40px;
        height: 52px;
        background-color: #424242;
    }

    &__description {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 0 0 12px;
        height: 20px;
    }

    &__rating {
        max-width: 47px;
        width: 100%;
        height: 20px;
        border-radius: 16px;
        background-color: #424242;
    }

    &__year {
        max-width: 33px;
        width: 100%;
        height: 20px;
        border-radius: 16px;
        background-color: #424242;
    }

    &__genre {
        max-width: 130px;
        width: 100%;
        height: 20px;
        border-radius: 16px;
        background-color: #424242;
    }

    &__runtime {
        max-width: 50px;
        width: 100%;
        height: 20px;
        border-radius: 16px;
        background-color: #424242;
    }

    &__title {
        max-width: 400px;
        width: 100%;
        height: 20px;
        border-radius: 16px;
        background-color: #424242;
    }
}