@use "../../../../styles/global/mixins.scss" as *;

.header {
    &__form {
        max-width: 656px;
        min-width: 150px;
        width: 100%;
        height: 48px;
        position: relative;

        @include vp-1024 {
            height: 40px;
        }

        @media (width <=800) {
            display: none;
        }
    }

    &__input {
        border: none;
        outline: none;
        height: 100%;
        background-color: var(--color-montana);
        width: 100%;
        padding: 16px 12px 16px 52px;
        border-radius: 8px;
        font-size: 18px;
        line-height: 24px;
        color: var(--primary-text-color);

        @include vp-1024 {
            font-size: 14px;
            line-height: 18px;
        }

        &::placeholder {
            color: var(--primary-text-color);
            opacity: 50%;
            font-size: 18px;
            line-height: 24px;

            @include vp-1024 {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    &__label {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        user-select: none;
        pointer-events: none;
        height: 24px;

        @include vp-1024 {
            height: 20px;
        }

        svg {
            color: var(--color-gray);

            @include vp-1024 {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__reset {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        display: grid;
        place-items: center;

        svg {
            color: var(--color-gray);
        }
    }
}