.modal {
    &-overlay {
        z-index: 1000;
        background-color: var(--color-black-2);
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding: 20px;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;

        &.modal-trailer {
            background-color: var(--color-black-3);
        }
    }

    &[data-device="mobile"] {
        .modal__close {
            position: absolute;
            z-index: 2;
            top: 8px;
            right: 8px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row-reverse;
        gap: 24px;

        &:has(iframe) {
            justify-content: center;
            width: 100%;
        }

        @media (width <=800) {
            gap: 0;

            &:has(iframe) {
                gap: 16px;
            }
        }
    }

    &__close {
        min-width: 48px;
        height: 48px;
        background-color: var(--color-white);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            color: var(--color-black);
        }
    }

    &__icon {
        margin: 0 0 40px;
    }

    &__title {
        font-size: 24px;
        line-height: 32px;
        margin: 0 0 24px;
        color: var(--color-black);
    }

    &__btn {
        width: 100%;
    }

    &__iframe {
        max-width: 960px;
        width: 100%;
        height: 540px;
        border: 1px solid var(--color-gray);
    }
}